.discard_pile
.stats_wrap
  .player_1_stats.stats
  .player_2_stats.stats
  .clear
.viewer
  .ship_1.ship
    .shield
  .ship_2.ship
    .shield
  .clear
.table
  .cards_wrap
    .cards
      .card
      .card
      .card
      .card
      .card
      .card
      .card
      .card
      .clear
  .actions
    .leave
      Surrender
    {{#my_turn}}
    .discard
      Jettison cards
    .discard_confirm
      Confirm
    {{/my_turn}}
  .clear
