.name {{name}}
.stat_group.science
  .stat.scientist {{scientists}}
  .stat.tech {{tech}}
  .clear
.stat_group.engineer
  .stat.engineers {{engineers}}
  .stat.energy {{energy}}
  .clear
.stat_group.command
  .stat.commanders {{commanders}}
  .stat.weapons {{weapons}}
  .clear
.stat_group
  .stat.ship {{ship_strength}}
  .stat.shields {{shield_strength}}
  .clear
.clear
