!!!
%html
  %head
    %meta{ 'http-equiv' => 'content-type', :content => 'text/html;charset=utf-8' }
    = csrf_meta_tag
    %script{ src: 'http://js.pusher.com/1.12/pusher.min.js', type: 'text/javascript' }
    %title
      Kobayashi Maru
    %link{ rel: 'shortcut icon', href: '/favicon.ico' }
    = stylesheet_link_tag     :application
    = javascript_include_tag  :application
  %body{body_attrs}
    .container
      .header
        %h1 Kobayashi Maru
      .wrapper
        .content_wrap
          .content
            = yield
        .column
      .footer
        &copy; Kobayashi Maru
